hiu:
  consentmanager:
    url: ${CONSENT_MANAGEMENT_URL}
  centralregistry:
    url: ${CENTRAL_REGISTRY_URL}
  database:
    host: ${POSTGRES_HOST}
    port: ${POSTGRES_PORT}
    schema: ${CONSENT_MANAGER_DB_NAME}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    poolSize: ${DB_CONNECTION_POOL_SIZE}
